.homeBody {
  background: url("./img/background.jpg")no-repeat center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  transition: 2.5s ease-out;
}
.homeBody > * {
  font-size: 70px;
}

.titleWrapper{
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  text-shadow: 4px 5px 20px rgba(122,212,129, 1);
  font-family: 'Montserrat Subrayada', sans-serif;
  animation: colorChange 5s linear infinite;
}
@keyframes colorChange{
  from {
    text-shadow: 4px 5px 20px rgba(122,212,129, 1);
  }
  to {
    text-shadow: 4px 5px 20px rgba(229,222,19, 1);
  }
}
.titleWrapper >* {
  margin: 200px 0 0 0;
}
.title {
  font-size: calc(60px + 5vw);
  z-index: 999;
  top: 150px;

}
.d{
  font-size: calc(110px + 5vw);
  z-index: 2;
}
.c{
  font-size: calc(40px + 5vw);
}
.subWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subWrapper > *{
  color: white;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 10px;
  background-color: rgba(230, 230, 230, 0.6);
  text-shadow: 1px 1px 8px rgba(10,10,0, 1);
}
.sub1{
  animation: textFlip 2s linear;
}
.sub2{
  animation: textFlip 3s linear;
}
.sub3{
  animation: textFlip 4s linear;
}
.sub4{
  animation: textFlip 5s linear;
}

@keyframes textFlip{
  from {
    transform: rotateX( 90deg )
  }
  to {
    transform: rotateX( 360deg );
  }
}
