.riderPostContainer{
  background: url("./img/waiting.jpg")no-repeat center;
  height: 100vh;
  background-size: cover;
  animation: backgroundEnter 5s linear;
  overflow: scroll;
}

.riderPostWrapper{
  transition: 2.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.riderPostTitle{
  font-size: calc(40px + 3vw);
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 50px 0 20px 0;
  color: white;
  padding: 0 20px 0 20px;
  background-color: rgba(230, 230, 230, 0.5);
  text-shadow: 1px 1px 8px rgba(10,10,0, 1);
  animation: textFlip 1s linear;
}
