.searchWrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  height: 30px;
  width: 400px;
  margin: 0 10px 5px 10px;
  font-size: 17px;
}
select {
  height: 30px;
  width: 400px;
  margin: 0 10px 5px 10px;
  font-size: 17px;
}
input{
  height: 30px;
  width: 400px;
  margin: 0 10px 5px 10px;
  font-size: 17px;
}
input[type="submit"]{
  height: 30px;
  width: 400px;
  margin: 0 10px 0px 10px;
  font-size: 17px;
  background-color: gold
}
.createButton{
  height: 30px;
  width: 400px;
  margin: 0 10px 0px 10px;
  font-size: 17px;
  background-color: gold;
}
textarea{
  height:100px;
  width: 400px;
  margin: 0 10px 0px 10px;
  font-size: 17px;
}
.riderCommentFormWrapper{
  position: relative;
}
.riderCommentForm{
  background-color: grey;
  padding: 30px;
  margin: 10px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -250px;
  top: -170px;
}
.commentFormTitle{
  color: white;
  text-align: center;
}
.formClose{
  position: absolute;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
  right: 40px;
}

.formClose:hover{
  font-size: 40px;
}
