.stationDetailBody{
  background: url("./img/road.png")no-repeat center;
  height: 100vh;
  background-size: cover;
  animation: backgroundEnter 5s linear;
  overflow: scroll;
}


.stationDetailWrapper{
  color: white;
  text-shadow: 1px 1px 3px rgba(10,10,0, 1);
  font-size: 110%;
  margin: 0 auto;
  width: 85%;
  padding: 30px;
  background-color: red;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 50px;
  background-color: rgba(22, 22, 20, 0.5);
}

.stationDetailTitle{
  text-align: center;
  font-size: calc(40px + 3vw);
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 50px 0 20px 0;
  color: white;
  padding: 0 20px 0 20px;
  background-color: rgba(230, 230, 230, 0.5);
  animation: textFlip 1s linear;
}

.stationDetailWrapper h3{
  font-size: 30px;
  margin: 0;
  text-decoration: underline;
}

.commentWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.commentWrapper h1{
  margin: 50px 0 0 0;
}


.commentViewWrapper{

}
